/* #region TYPOGRAPHY */
.font-small-heading {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.font-text {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.font-section-heading {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.font-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.typography-logo {
  text-transform: uppercase;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

.hero .hero-heading {
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
}
.hero .hero-button {
  letter-spacing: 0.04em;
  line-height: 1.5;
  cursor: pointer;
}

.team .text {
  font-size: 16px;
}

.section-heading {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

.small-heading {
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.footer-logo {
  text-transform: uppercase;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

/* #endregion TYPOGRAPHY */

/* #region COLORS */
:root {
  --color-highlight: #4d5ae5;
  --color-hover-dark: #404bbf;
  --color-secondary: #2e2f42;
  --green: #31d0aa;
  --color-text-main: #434455;
  --light-slate: #8e8f99;
  --color-border-light: #e7e9fc;
  --color-white-secondary: #f4f4fd;
  --navy-blue-modal: rgba(46, 47, 66, 0.4);
  --grey: rgba(46, 47, 66, 0.7);
  --color-white-primary: #fff;
  --dairy: #fcfcfc;
}
.color-logo {
  color: var(--color-highlight);
}

.header-style .color-link {
  color: var(--color-secondary);
}
.color-logo-accent {
  color: var(--color-secondary);
}

.header-style .color-address {
  color: var(--color-text-main);
}

.header-style .color-link:hover,
.header-style .color-link:focus,
.header-style .color-address:hover,
.header-style .color-address:focus {
  color: var(--color-hover-dark);
}

.hero {
  color: var(--color-white-primary);
  background-color: var(--color-secondary);
  text-align: center;
}

.hero .hero-button {
  color: inherit;
  background-color: var(--color-highlight);
}

.hero .hero-button:hover,
.hero .hero-button:focus {
  color: inherit;
  background-color: var(--color-hover-dark);
}

.team {
  background-color: var(--color-white-secondary);
}

.section-heading {
  color: var(--color-secondary);
}

.small-heading {
  color: var(--color-secondary);
}

.team .box {
  background-color: var(--color-white-primary);
}

.footer-style {
  color: var(--color-white-secondary);
  background-color: var(--color-secondary);
}

.footer-logo {
  color: var(--color-highlight);
}

.footer-logo-accent {
  color: var(--color-white-secondary);
}

/* #endregion COLORS */

/* #region DEFAULT SETTINGS */

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-text-main);
  background-color: var(--color-white-primary);
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
  list-style-type: none;
}

img {
  display: block;
}
a {
  text-decoration: none;
}

/* #endregion DEFAULT SETTINGS*/

/* #region SECTION CONTAINERS */

.header-style .container {
  width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero .container {
  max-width: 1440px;
  margin: 0 auto;
}

.why-us .container {
  max-width: 1128px;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
}

.team .container {
  max-width: 1440px;
  padding-top: 120px;
  padding-bottom: 120px;
  padding-left: 156px;
  padding-right: 156px;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
}

.portfolio .container {
  max-width: 1128px;
  padding-left: 0;
  padding-right: 0;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
}

footer .container {
  max-width: 1440px;
  padding: 0 1020px 0 156px;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
}

/* #endregion SECTION CONTAINERS*/

/* #region SECTIONS STRUCTURE*/
.header-style {
  border-bottom: 1px solid var(--color-border-light);
}
.header-style nav {
  display: flex;
  align-items: center;
}
.header-style .header-logo {
  display: inline-block;
  margin-right: 76px;
}

.header-style .nav-menu {
  display: flex;
  gap: 40px;
}

.nav-menu .link-structure {
  display: inline-block;
  padding-top: 24px;
  padding-bottom: 24px;
}

.header-style .address-list {
  display: flex;
  gap: 40px;
}

.hero {
  text-align: center;
  padding: 188px 0;
}
.hero .hero-heading {
  max-width: 496px;
  margin: 0 auto 48px;
}

.hero .hero-button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  min-width: 169px;
  padding: 16px 32px;
  height: 56px;
  border: none;
  border-radius: 4px;
}

.why-us {
  padding: 120px 0;
}

.why-us .small-heading {
  margin: 0 0 8px 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.why-us .merit-points {
  display: flex;
  gap: 24px;
}

.why-us .merit-point {
  width: calc((100% - 72px) / 4);
}

.section-heading {
  text-align: center;
}

.team {
  padding: 120px 0;
}

.team .section-heading {
  margin-bottom: 72px;
}

.team .team-members {
  display: flex;
  gap: 24px;
}

.team-members .box {
  border-radius: 0px 0px 4px 4px;
}

.team .image-subscript {
  padding: 32px 0;
  text-align: center;
}

.team .small-heading {
  margin-bottom: 8px;
}

.portfolio {
  padding: 120px 0 120px 0;
}
.portfolio .section-heading {
  margin-bottom: 72px;
}

.portfolio .portfolio-cards {
  display: flex;
  column-gap: 24px;
  row-gap: 48px;
  flex-wrap: wrap;
}

.portfolio .image-subscript {
  padding: 32px 16px;
  border: 1px solid var(--color-border-light);
  border-top: none;
}

.portfolio .small-heading {
  margin-bottom: 8px;
}

.footer-style {
  padding: 100px 0;
}

footer .footer-logo {
  display: inline-block;
  margin-bottom: 16px;
}

/* #endregion SECTIONS STRUCTURE */
