/* #region DEFAULT SETTINGS */

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-text);
  background-color: var(--color-white-background);
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
  list-style-type: none;
}

img {
  display: block;
}
a {
  text-decoration: none;
}

/* #endregion DEFAULT SETTINGS*/

/* #region LAYOUT */
.layout-header.theme-header {
  border-bottom: 1px solid var(--color-accent);
}

header .container {
  max-width: 1158px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero .container {
  max-width: 1440px;
  margin: 0 auto;
}

.why-us .container {
  max-width: 1128px;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
}

.team .container {
  max-width: 1440px;
  padding-top: 120px;
  padding-bottom: 120px;
  padding-left: 156px;
  padding-right: 156px;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
}

.portfolio .container {
  max-width: 1128px;
  padding-left: 0;
  padding-right: 0;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
}

.layout-header nav {
  display: flex;
  align-items: center;
}
.layout-header .layout-logo {
  display: inline-block;
  margin-right: 76px;
}
.layout-header .nav-menu {
  display: flex;
  gap: 40px;
}

.nav-menu .link-structure {
  display: inline-block;
  padding-top: 24px;
  padding-bottom: 24px;
}

.layout-header .address-list {
  display: flex;
  gap: 40px;
}

.hero {
  text-align: center;
  padding: 188px 0;
}
.hero .hero-heading {
  max-width: 496px;
  margin: 0 auto 48px;
}

.hero .hero-button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  min-width: 169px;
  padding: 16px 32px;
  height: 56px;
  border: none;
  border-radius: 4px;
}

.why-us {
  padding: 120px 0;
}

.why-us .small-heading {
  margin: 0 0 8px 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.why-us .merit-points {
  display: flex;
  gap: 24px;
}

.why-us .merit-point {
  width: calc((100% - 72px) / 4);
}

.why-us .icon-container {
  height: 112px;
  width: 264px;
  padding: 24px 100px;
  border-radius: 4px;
  border: 1px solid var(--color-subtle-text);
  margin-bottom: 8px;
}

.why-us .icon-size {
  height: 64px;
  width: 64px;
}

.section-heading {
  text-align: center;
}

.team {
  padding: 120px 0;
}

.team .section-heading {
  margin-bottom: 72px;
}

.team .team-members {
  display: flex;
  gap: 24px;
}

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: none;
}

.team-members .box {
  border-radius: 0px 0px 4px 4px;
}

.team .image-subscript {
  padding: 32px 16px;
  text-align: center;
}

.team .small-heading {
  margin-bottom: 8px;
}

.team .text {
  margin-bottom: 8px;
}

.team .social-links {
  display: flex;
  gap: 24px;
}

.social-links .link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--color-primary-brand);
}

.team .icon-size {
  width: 16px;
  height: 16px;
}

.portfolio {
  padding: 120px 0 120px 0;
}
.portfolio .section-heading {
  margin-bottom: 72px;
}

.portfolio .portfolio-cards {
  display: flex;
  column-gap: 24px;
  row-gap: 48px;
  flex-wrap: wrap;
}

.portfolio .image-subscript {
  padding: 32px 16px;
  border: 1px solid var(--color-accent);
  border-top: none;
}

.portfolio .small-heading {
  margin-bottom: 8px;
}

footer .container {
  max-width: 1158px;
  width: 100%;
  padding: 100px 15px;
  margin: 0 auto;
  display: flex;
  gap: 120px;
  align-content: flex-start;
}

footer .footer-container-intro {
  max-width: 264px;
  max-height: 112px;
  width: 100%;
  height: 100%;
}

footer .footer-container-social {
  max-width: 208px;
  max-height: 80px;
  width: 100%;
  height: 100%;
}

footer .footer-logo {
  display: inline-block;
  margin-bottom: 16px;
}
.footer-heading {
  padding: 0;
  margin-bottom: 16px;
}
footer .social-links {
  display: flex;
  gap: 24px;
}

/* #endregion LAYOUT */

/* #region THEME*/

/* Color Variables */
:root {
  --color-primary-brand: #4d5ae5; /* CTAs, Focused, Active states, Links*/
  --color-pressed-state: #404bbf; /* CTAs*/
  --color-dark: #2e2f42; /* Overlays, Shadows, Headings*/
  --color-success: #31d0aa; /* Valid fields, success messages*/
  --color-text: #434455; /* Body text*/
  --color-subtle-text: #8e8f99; /* Helper text, Deemphesized text*/
  --color-accent: #e7e9fc; /* Accent color, Hairlines, Subtle backgrounds */
  --color-light: #f4f4fd; /* Light mode backgrounds, Light modde Dialogs/alerts */
  --color-modal-overlay: rgba(46, 47, 66, 0.4); /* Overlay*/
  --color-hero-background: rgba(46, 47, 66, 0.7); /* Hero image background */
  --color-white-background: #fff; /* Header, team card, backgroundd*/
  --color-modal-background: #fcfcfc;
}

/* base typography */

.font-small-heading {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.font-text {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.font-section-heading {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.font-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.typography-logo {
  text-transform: uppercase;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

.color-logo {
  color: var(--color-primary-brand);
}
.color-logo-accent {
  color: var(--color-dark);
}

.theme-header .color-link {
  color: var(--color-dark);
}

.theme-header .color-address {
  color: var(--color-text);
}

.hero {
  color: var(--color-white-background);
  background-color: var(--color-dark);
  text-align: center;
}

.hero .hero-heading {
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
}
.hero .hero-button {
  letter-spacing: 0.04em;
  line-height: 1.5;
  cursor: pointer;
}

.team .text {
  font-size: 16px;
}

.section-heading {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

.small-heading {
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.theme-header .color-link:hover,
.theme-header .color-link:focus,
.theme-header .color-address:hover,
.theme-header .color-address:focus {
  color: var(--color-pressed-state);
}

.hero .hero-button {
  color: inherit;
  background-color: var(--color-primary-brand);
}

.hero .hero-button:hover,
.hero .hero-button:focus {
  color: inherit;
  background-color: var(--color-pressed-state);
}

.why-us .icon-container {
  background-color: var(--color-light);
}

.team {
  background-color: var(--color-light);
}

.section-heading {
  color: var(--color-dark);
}

.small-heading {
  color: var(--color-dark);
}

.team .box {
  background-color: var(--color-white-background);
}

.theme-footer {
  color: var(--color-light);
  background-color: var(--color-dark);
}

.footer-logo {
  color: var(--color-primary-brand);
}

.footer-logo-accent {
  color: var(--color-light);
}

footer .color-social-heading {
  color: var(--color-white-background);
}

.footer-logo {
  text-transform: uppercase;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

.footer-heading {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

footer .icon-size {
  width: 24px;
  height: 24px;
}

.hero {
  background-color: var(--color-dark);
  background-image: linear-gradient(
      to bottom,
      var(--color-hero-background),
      var(--color-hero-background)
    ),
    url(../images/people-office-1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

/* #endregion THEME*/
